<% @idea.idea_comments.reverse.each do |comment| %>
    
    <div class="email-item email-item-selected pure-g">
        <div class="pure-u">
            <%= link_to image_tag(comment.user.profile_image, class: "user-portrait"), user_path(comment.user) %>
        </div>

        <div class="pure-u-3-4">
            <h5 class="email-name"><%= link_to comment.user.nick, user_path(comment.user) %></h5>
            <h4 class="email-subject">Hello from Toronto</h4>
            <p class="email-desc">
                <%= comment.message.gsub(/\n/, '<br>').html_safe  %>
            </p>
        </div>

        <div class="clear"></div>
        <div class="comment-bottom">
            <% if can?(:destroy, comment) %>
                <%= link_to image_tag("block.png"), idea_comment_path(comment), data: { confirm: t('idea_comments.confirm_destroy') }, :method=>:delete %>
            <% end %>
        </div>
        <div class="clear"></div>
    </div>

<% end %>

<% if logged? %>
            <div class="profile-comment-form">
                <form action="/idea_comments/" method="POST">
                    <%= token_tag nil %>
                    <input type="hidden" name="idea_comment[idea_id]" value="<%= @idea.id %>">
                    <textarea name="idea_comment[message]" class="idea-creation comment-form-idea" placeholder="<%= t('idea_comments.form.placeholder') %>"></textarea>
                    <br>
                    <div class="comment-options">
                        <button class="red-button small-button">enviar</button>
                    </div>
                </form>
            </div>
        <% end %>