
<div class="container_12">
  <div class="grid_12 wrapper forum">
    <div class="green-line thin-line"></div>
    <aside class="forum-sidebar">
      <div class="forum-sidebar-title">
        <h2>Fórum</h2>
      </div>
      <div class="clear"></div>
      <% @idea.forum.categories.each do |category| %>
        <p class="forum-category">
          <img src="/assets/forum-icon.png">
          <%= category.title %>
          <% if can?(:destroy, category) %>
            <%= link_to image_tag("block.png"), category_path(category), data: { confirm: t('categories.confirm_destroy') }, :method=>:delete %>
          <% end %>
        </p>
        <ul class="sidebar-list">
          <% category.posts.each do |post| %>
          <li class="forum-post-list"><a class="a-post" id="<%= post.id %>"><%= post.title %></a>
            <% if can?(:destroy, post) %>
              <%= link_to image_tag("block.png", class: "block-button"), post_path(post), data: { confirm: 'Are you sure?' }, :method=>:delete %>
            <% end %>
          <% end %>
        </ul>
      <% end %>
      <br>
        <div class="forum-buttons">
          <% if can?(:create, Post) %>
            <button class="green-button small-button forum-button" id="new-post-button">novo post</button>
          <% end %>

          <% if can?(:create, forum.categories.build) %>
            <button class="green-button small-button forum-button" id="new-category-button">nova categoria</button>
          <% end %>
        </div>
        <% if can?(:create, Post) %>
        <div id="new-post">
          <form action="/posts/" method="POST">
            <%= token_tag nil %>
            <h2>Novo post</h2>
            <input type="text" name="post[title]" placeholder="Título" id="new-post-input" class="new-post-title" >
            <br>
            <textarea name="post[message]" placeholder="Mensagem" id="new-post-input" class="new-post-message"></textarea>
            <br>
            <div class="select-style">
              <%= select("post", "category_id", @idea.forum.categories.collect {|p| [ p.title, p.id ] }, {include_blank: 'Categoria'}) %>
            </div>
            <button class="red-button small-button">criar</button>
          </form>
        </div>
        <% end %>
        <% if can?(:create, forum.categories.build) %>
        <div id="new-category">
          <form action="/categories/" method="POST" class="new-categoty-form">
            <h2> <%= t('category.new.title') %> </h2>
            <%= token_tag nil %>
            <input type="text" name="category[title]" placeholder="titulo" id="new-category-input">
            <input type="hidden" name="category[forum_id]" value="<%= @idea.forum.id %>">
            <button class="red-button small-button">criar</button>
          </form>
        </div>
        <% end %>
    </aside>
    <div class="forum-content">
      <% @idea.forum.categories.each do |category| %>
        <% category.posts.each do |post| %>
          <section class="post-content" id="post<%= post.id %>" >
            <header class="post-header" >
              <h2><%= post.title  %></h2>
              <div class="post-header-portrait">
                <%= link_to image_tag(post.user.profile_image, class: "user-portrait"), user_path(post.user) %>
                <br>
                <span class="username"><%= post.user.nick  %></span>
              </div>
              <div class="post-description">
                <p><%= post.message.gsub(/\n/, '<br>').html_safe  %></p>
              </div>
            </header>
            <div class="clear"></div>
            <% post.post_comments.each do |post_comment| %>
              <div class="post-comment">
                <div class="post-comment-left">
                  <%= link_to image_tag(post_comment.post.user.profile_image, class: "user-portrait"), user_path(post_comment.post.user) %>
                  <br>
                  <span class="username"><%= post_comment.user.nick  %></span>
                </div>
                <div class="post-comment-body">
                  <p><%= post_comment.message.gsub(/\n/, '<br>').html_safe  %></p> <!-- comment -->
                </div>
              </div>
              <div class="clear"></div>
            <% end %>
          </section>
        <% end %>
      <% end %>

      <% if logged? %>
        <div class="help-forum">
          <h2><%= t('ideas.show.title') %></h2>
          <p><%= t('ideas.show.description') %></p>
        </div>
        <form action="/post_comments/" method="POST" class="reply-post-form">
          <%= token_tag nil %>
          <input type="hidden" name="post_comment[post_id]" id="reply-post" value="1">
          <input name="post_comment[title]" type="hidden" value="default">
          <textarea name="post_comment[message]" class="idea-creation reply-post"></textarea>
          <input type="submit" value="reponder" class="red-button small-button reply-button">
        </form>
        <br>
      <% end %>

    </div>
    <div class="clear"></div>
    <div class="red-line thin-line"></div>
  </div>
</div>
<div id="fade"></div>