<div class="container_12">
	<div class="grid_8 wrapper">
		<div class="green-line"></div>
		<br>
		<div class="idea-description">
			<div class="image-profile-title" style="float: left;">
				<%= image_tag(@idea.image.url(:thumb), class: "idea-portrait") %>
				<br>
				<br>
				<% if following? %>
				<form action="/follows/" method="POST">
					<input type="hidden" name="follow[idea_id]" value="<%= @idea.id %>" />
					<%= token_tag nil %>
					<button class="green-button big-button" id="follow-button">seguir</button>
				</form>
				<% elsif logged? %>
				<%= button_to "deixar", follow_path(@user.following_id @idea), :method => "delete", class: "green-button big-button"  %>
				<% end %>
			</div>
			<div class="profile-title">
				<h1><%= @idea.name %></h1>
				<p>por <%= image_tag("user-default.jpg", class: "user-portrait") %><span><!--username -->bytejumper</span></p></a>
			</div>
			<div class="hashtags">
				<!-- <a href="">#lorem</a><a href="">#ipsum</a> -->
			</div>
			<div class="facebook-share">
				<div class="fb-like" data-href="http://yuph.net" data-send="true" data-layout="box_count" data-width="450" data-show-faces="false"></div> <!-- precisa da aplicação criada e do script fornecido pelo facebook -->
			</div>
		</div>
		<% if logged? && @idea.can_managed_by(@user) %>
		<%= button_to "Editar", edit_idea_path(@idea),
		:method => "get", class: "small-button red-button edit-idea"%>

		<% end %>
		<br>
		<br>
		<p><%= @idea.description %></p>
		<br>
		<br>
		<div class="embed-video">
			<!-- if youtube: -->
			<iframe width="560" height="315" src="" frameborder="0" allowfullscreen></iframe>
			<!-- if vimeo:
				<iframe src="" width="560" height="315" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
				-->
			</div>
		</div>
		<div class="grid_4 wrapper omega">
			<div class="messages">
				<% @idea.idea_comments.reverse.each do |comment| %>
				<div class="profile-messages">
					<div class="image-profile-title grid_1 comment-left">
						<%= link_to image_tag(comment.user.profile_image, class: "user-portrait"), user_path(comment.user) %>
						<span><%= comment.user.nick %></span>
					</div>
					<div class="comment-body">
						<p><%= comment.title %></p>
						<p><%= comment.message %></p>
					</div>
					<div class="comment-bottom">
						<% if logged? %>
						<%= link_to image_tag("block.png"), idea_comment_path(comment), data: { confirm: 'Are you sure?' }, :method=>:delete if comment.can_managed_by(@user)%>
						<% end %>
					</div>
				</div>
				<br/>
				<% end %>
			</div>
			<% if logged? %>
			<div class="profile-comment-form">
				<form action="/idea_comments/" method="POST">
					<%= token_tag nil %>
					<input type="text" name="idea_comment[title]" placeholder="Título">
					<input type="hidden" name="idea_comment[idea_id]" value="<%= @idea.id %>">
					<textarea name="idea_comment[message]" class="idea-creation comment-form-idea" placeholder="Envie um comentário..."></textarea>
					<br>
					<div class="comment-options">
						<button class="red-button small-button">enviar</button>
					</div>
				</form>
			</div>
			<% end %>
		</div>
	</div>
	<div class="clear"></div>
	<br>
	<div class="container_12">
		<div class="grid_12 wrapper forum">
			<div class="green-line thin-line"></div>


			<aside class="forum-sidebar">
				<div class="forum-sidebar-title">
					<h2>Fórum</h2>
				</div>
				<div class="clear"></div>

				<% @idea.forum.categories.each do |category| %>

				<p class="forum-category"><img src="/assets/forum-icon.png">
					<%= category.title %>
					<% if logged? %>
					<%= link_to image_tag("block.png"), category_path(category), data: { confirm: 'Are you sure?' }, :method=>:delete if category.can_managed_by(@user)%>
					<% end %>
					<ul class="sidebar-list">
						<% category.posts.each do |post| %>
						<li class="forum-post-list post-list-active"><a class="a-post"><%= post.title %></a>
							<% if logged? %>
							<%= link_to image_tag("block.png"), post_path(post), data: { confirm: 'Are you sure?' }, :method=>:delete if post.can_managed_by(@user)%>
							<% end %>
							<% end %>
						</ul>
						<% end %>

						<br>
						<div class="forum-buttons">
							<button class="green-button small-button forum-button">novo post</button>
							<button class="green-button small-button forum-button">nova categoria</button>
						</div>
					</aside>



					<div class="forum-content">
						<% @idea.forum.categories.each do |category| %>
						<% category.posts.each do |post| %>

						<section class="post-content post-first">
							<header class="post-header">
								<h2><%= post.title  %></h2> <!-- Post name -->
								<div class="post-header-portrait">
									<%= link_to image_tag(post.user.profile_image, class: "user-portrait"), user_path(post.user) %>
									<br>
									<span class="username"><%= post.user.nick  %></span>
								</div>
								<div class="post-description">
									<p><%= post.message  %></p>
								</div>
							</header>

							<div class="clear"></div>
							<% post.post_comments.each do |post_comment| %>
							<div class="post-comment">
								<div class="post-comment-left">
									<div class="comment-line-gray"></div>
									<img src="" class="user-portrait">
									<br>
									<span class="username"><%= post_comment.user.name  %></span>
								</div>
								<div class="post-comment-body">
									<h3><%= post_comment.title  %></h3> <!-- Reply title -->
									<div class="quote">
									</div>
									<p><%= post_comment.message  %></p> <!-- comment -->
								</div>
							</div>
							<% end %>
						</section>
						<% end %>
						<% end %>
						<textarea name="idea-description" class="idea-creation reply-post"></textarea>
						<br>
						<button class="red-button small-button reply-button">responder</button>
					</div>
					<div class="clear"></div>
					<div class="red-line thin-line"></div>
				</div>
			</div>
		</div>
