<div class="container_12">
    <div class="grid_8 slider">
        <div class="grid_8 wrapper carrousel">
           <%=link_to image_tag(@yuph.image.url(:medium)), idea_path(@yuph) %>
            <!-- slider images -->
        </div>
        <div class="clear"></div>
        <div class=
            "grid_8 wrapper big-ideas-description fix-border">
            <h1>
                <%= link_to @yuph.name, idea_path(@yuph) %></a>
            </h1>
            <!-- idea title -->
            <div class="clear"></div>
            <div class="grid_1 omega">
                <button class="arrow"><img src=
                    "assets/arrow-left.png" /></button>
            </div>
            <div class="grid_5">
                <p>
                   <%= @yuph.mini_description %>
                </p>
            </div>
            <!-- idea min-description -->
            <div class="grid_1 push_1 alpha">
                <button class="arrow"><img src=
                    "assets/arrow-right.png" /></button>
            </div>
        </div>
    </div>
    <!-- LOGIN AREA -->
    <div class="grid_4 omega wrapper main-login">
        <div>
            <h1>
                Entre na Yuph!
            </h1>
        </div>
        <div class="main-form">
			<form name="login" action="/login" method="POST">
            	<input type="text" name="user[email]" placeholder="Email" />
				<input type="password" name="user[password]" placeholder="senha" />
				<%= token_tag nil %>
				<input type="submit" value="login" />
			</form>
            <div class="clear"></div>
            <div class="fb-login-button">
                <button type="submit" class=
                    "fb-button">Facebook</button>
            </div>
            <div class="clear"></div>
            <br />
        </div>
    </div>
    <div class="grid_4 omega wrapper main-login fix-border">
        <div>
            <h1>
                ou
            </h1>
        </div>
        <div class="clear"></div>
		<%= link_to 'Crie uma conta', new_user_path, class: "big-button red-button create-account" %>
        <div class="clear"></div>
        <br />
    </div>
</div>
<div class="container_12">
    <div class="grid_4">
        <h2>
            Outras ideias
        </h2>
    </div>
    <div class="clear"></div>
</div>
<div class="container_12 idea-row">
	<% @ideas.each do |idea| %>
    <div class="grid_3 wrapper min-idea">
        <div class="green-line"></div>
        <%= link_to image_tag(idea.image.url(:thumb)), idea_path(idea) %>
        <h2>
            <%= idea.name %>
        </h2>
        <p>
            <%= idea.mini_description %>
        </p>
        <div class="red-line"></div>
    </div>
	<% end %>
</div>
<div class="clear">
    <div class="container_12 idea-row">
        <!-- and so on -->
    </div>
</div>
<div class="clear"></div>
<div class="container_12">
	<%= button_to "Mostrar mais projetos", "/ideas/", :method => "get", class: "grid_8 push_2 show-more wrapper"  %>
    <div class="clear"></div>
</div>
