<% if logged? %>
       <div class="container_12 yuph-presentation">
            <div class="grid_6 push_3">
                <img src="/assets/logo.png">
            </div>
            <div class="clear"></div>
            <div class="grid_4 presentation-item">
                <img src="/assets/process-1.png">
                <h2>Compartilhe qualquer ideia ou projeto.</h2>
            </div>
            <div class="grid_4 presentation-item">
                <img src="/assets/process-2.png">
                <h2>Deixe a comunidade discutir e dar feedbacks.</h2>
            </div>
            <div class="grid_4 presentation-item">
                <img src="/assets/process-3.png">
                <h2>Crie coisas incríveis.</h2>
            </div>
        </div>
        <div class="container_12 logged">
            <div class="grid_9 big-cover-description logged-description">
                <h2>E aí, que ideia você teve hoje?</h2>
            </div>
            <div class="grid_1 pull_1 cover-button">
                 <%= link_to 'Diz pra gente', new_idea_path, class: "big-button red-button"  %>
            </div>
        </div>
        <div class="green-call">
            <div class="container_12"><div class="grid_12 green-call-decoration"><h2>...</h2></div></div>
        </div>
        <div class="green-call-content">
            <div class="container_12">
                <h2>Também precisamos de ideias!</h2>
                <p>Estamos em beta. Então não existe nada melhor pra gente do que receber sugestões e dúvidas. Não seja tímido, <a href="mailto:suporte@yuph.net">Mande um email</a> . =]</p>
            </div>
        </div>
    <% else %>
            <div class="container_12 yuph-presentation">
                <div class="grid_6 push_3">
                    <img src="/assets/logo.png">
                </div>
                <div class="clear"></div>
                <div class="grid_4 presentation-item">
                    <img src="/assets/process-1.png">
                    <h2>Compartilhe qualquer ideia ou projeto.</h2>
                </div>
                <div class="grid_4 presentation-item">
                    <img src="/assets/process-2.png">
                    <h2>Deixe a comunidade discutir e dar feedbacks.</h2>
                </div>
                <div class="grid_4 presentation-item">
                    <img src="/assets/process-3.png">
                    <h2>Crie coisas incríveis.</h2>
                </div>
                <div class="clear" ></div>
            </div>
            <div class="container_12 logged">
                <div class="grid_6 push_1 big-cover-description logged-description">
                    <h2>Mande a sua ideia</h2>
                </div>
                <div class="grid_1 cover-button">
                     <%= link_to 'Bora lá', new_user_path, class: "big-button red-button"  %>
                </div>
            </div>
        <div class="green-call">
            <div class="container_12"><div class="grid_12 green-call-decoration"><h2>...</h2></div></div>
        </div>
        <div class="green-call-content">
            <div class="container_12">
                <h2>Mas como assim?</h2>
                <p>A Yuph é uma plataforma para brainstorm e organização de projetos. É um lugar para você compartilhar ideias, desde as mais banais até as mais complexas.<br>Inicie discussões, receba feedback e deixe a comunidade fazer a parte dela.<br>Ainda ficou com duvidas? Dê uma navegada entre as ideias que as outras pessoas já mandaram ou explore a ideia de exemplo que criamos <a href="http://www.yuph.net/ideas/12">clicando aqui</a>.</p>
            </div>
        </div>
<% end %>
<div class="container_12">
    <div class="grid_4 main-ideas">
        <h2>
            Ideias dentro da Yuph:
        </h2>
    </div>
    <div class="clear"></div>
</div>
<div class="container_12 idea-row">
	<% @ideas.each do |idea| %>
    <div class="grid_3 wrapper min-idea">
        <div class="green-line"></div>
        <%= link_to image_tag(idea.image.url(:thumb)), idea_path(idea) %>
        <h2>
            <%= idea.name %>
        </h2>
        <p>
            <%= idea.mini_description %>
        </p>
        <div class="red-line"></div>
    </div>
	<% end %>
</div>
<div class="clear"></div>
<div class="container_12">
	<%= button_to "mostrar mais", "/ideas/", :method => "get", class: "grid_8 push_2 show-more wrapper"  %>
    <div class="clear"></div>
</div>
