<%= render :partial => "layouts/navbar" %>

<figure class="big-image">
    <div class="legenda">
        <h1 class="splash-head">Confie</h1>
        <p class="splash-subhead">
            Melhore coisas que ama. Crie coisas que não existem ainda.
        </p>
        <!-- <p>
            <a href="http://purecss.io" class="pure-button pure-button-primary">começar agora</a>
        </p> -->
    </div>
</figure>

<section class="block-ideas pure-g-r">
        
        <figure class="pure-u-1-2">
            <%= image_tag "lamp.png" %>
        </figure>

        <article class="pure-u-1-2" id="conheca">
            <h2>Eureka!</h2>

            <p><b>Somos</b> um banco de ideias;
            <br><b>Somos</b> uma plataforma de discussão;
            <br><b>Somos</b> uma ponte entre sonhadores e realizadores. </p>
            <br>
            <%= link_to 'saber mais', new_user_registration_path, class: "pure-button"  %>
        </article>
    </section>

    <section class="block-about pure-g-r">

        <figure class="pure-u-1-2">
            <%= image_tag "logo-yuph-quem-somos.png" %>
        </figure>

        <article class="pure-u-1-2">
            <h2>Quem Somos?</h2>

            <p>Somos uma ferramenta de realização de projetos, 
            <br/>um lugar em que todos podem compartilhar ideias; 
            <br/>e em que as ideias, uma vez compartilhadas, 
            <br/>possam se desenvolver com ajuda da comunidade.
            <br/>
            <br/>Não importa se é uma ideia banal, não importa se 
            <br/>ela é complexa, não importa nem mesmo, se você 
            <br/>teve uma ideia em que acredita muito, mas que não 
            <br/>saiba ainda nem por onde começar. 
            <br/>
            <br/>Nós estamos aqui, justamente para te auxiliar a 
            <br/>dar vida a sua ideia ou projeto, tornando sonhos, 
            <br/>algo palpável,  real e possível.</p>
        </article>



    </section>

    <section class="block-github pure-g-r">

        <article class="pure-u-1-2">
            <h2 id="participe">A YUPH é livre</h2>

            <p>Somos apaixonados por crowdsourcing!
            <br>Então nada mais justo do que deixarmos 
            <br>nosso código aberto para que a comunidade 
            <br>possa nos ajudar a melhorar cada vez mais
            <br>Se você quer colaborar, fique a vontade
            <br>Toda ajuda é bem vinda.</p>
            <a href="http://github.com/Yuph/Yuph" class="pure-button"><i class="fa fa-github-square"></i> participar</a>
        </article>

        <figure class="pure-u-1-2">
        <%= image_tag "github-logo-grande.png" %>
        </figure>

    </section>

<!-- 
<div class="container_12">
    <div class="grid_4 main-ideas">
        <h2>
            Ideias dentro da Yuph:
        </h2>
    </div>
    <div class="clear"></div>
</div>
<div class="container_12 idea-row">
	<% @ideas.each do |idea| %>
    <div class="grid_3 wrapper min-idea">
        <div class="green-line"></div>
        <%= link_to image_tag(idea.image.url(:thumb)), idea_path(idea) %>
        <h2>
            <%= idea.name %>
        </h2>
        <p>
            <%= idea.mini_description %>
        </p>
        <div class="red-line"></div>
    </div>
	<% end %>
</div>

<div class="clear"></div>
<div class="container_12">
	<%= button_to "mostrar mais", "/ideas/", :method => "get", class: "grid_8 push_2 show-more wrapper"  %>
    <div class="clear"></div>
</div>
-->
<%= render :partial => "layouts/footer" %>