
<div class="container_12 wrapper">
	<div class="green-line thin-line"></div>
	<header class="grid_12 new-idea">
		<h3>Sobre você</h3>
		<p></p>
	</header>
</div>
<%= form_for(@user) do |f| %>
<% if @user.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@user.errors.count, "error") %> prohibited this idea from being saved:</h2>

	<ul>
		<% @user.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="container_12 wrapper fix-border">
	<div class="grid_8 fix-border">
		<h3>Imagem de capa</h3>
		<p>Selecione uma imagem para o seu perfil. Não se preocupe pois você poderã mudá-la depois.</p>
			<p>Se não quiser, não tem problema! Colocamos uma imagem bacanuda para você.</p>
		</div>

		<div class="grid_4" id="select-image">
			<%= image_tag(@user.image.url(:medium), class: "idea-portrait", id: "uploadPreview") %>
			<br>
			<%= f.file_field :image, class: "idea-creation-file", onchange:"PreviewImage();", id: "uploadImage" %>
		</div>
	</div>
	<div class="container_12 wrapper fix-border">
		<div class="grid_8">
			<h3>Qual seu apelido? escolha um bacana :)</h3>
			<p>Será usado apenas para formar sua URL personalizada :)</p>
			<%= f.text_field :nick, class: "idea-creation idea-creation tags-creation" %>
			<h3>Nome</h3>
			<p>Eu sei que voce tem um nome</p>
			<%= f.text_field :first_name, class: "idea-creation tags-creation" %>
			<h3>Sobrenome</h3>
			<p>É, dizem que herdamos isso!</p>
			<%= f.text_field :last_name, class: "idea-creation tags-creation" %>
			<h3>Email</h3>
			<p>Coloque o seu email aqui. E não se preocupe, não enviamos span !!11!!</p>
			<%= f.text_field :email, class: "idea-creation tags-creation" %>
			<h3>Senha</h3>
			<p>Se nao quiser mudar nao precisa, apenas deixe em branco.</p>
			<%= f.password_field :password, class: "idea-creation tags-creation" %>
			<h3>Validacao</h3>
			<p>Infelizmente isso é necessário.</p>
			<%= f.password_field :password_confirmation, class: "idea-creation tags-creation" %>
			<h3>Hmm. conte-me mais</h3>
			<p>Liberte-se, abra as suas asas :)</p>
				<%= f.text_area :about, class: "idea-creation idea-creation-description" %>
			<h3>Onde você mora?</h3>
			<p>Pode ser na babilônia, sem problemas!</p>
				<%= f.text_field :local, class: "idea-creation video-url" %>
			<h3>Website</h3>
			<p>Você possui um website? nós também. </p>
				<%= f.text_field :website, class: "idea-creation tags-creation" %>
			<h3>Facebook</h3>
			<p>Eu sei que você possui um facebook, compartilhe! </p>
			<%= f.text_field :facebook, class: "idea-creation tags-creation" %>
			<h3>Twitter</h3>
			<p>Onde ficam seus twits?? </p>
			<%= f.text_field :twitter, class: "idea-creation tags-creation" %>
				<br>
				<br>
			</div>
			<div class="grid_4 idea-options omega">
			</div>
			<div class="clear"></div>
		</div>


		<div class="container_12 wrapper fix-border">
			<br>
			<div class="grid_7 push_1 idea-submit-text">
				<h1> <h1>
				</div>
				<div class="grid_4 push_1 idea-submit-button">
					<button type="submit" class="big-button green-button">Enviar</button>
				</div>
				<br>
				<br>
				<div class="clear"></div>
				<div class="red-line"></div>
				<% end %>
