<div class="container_12">
	<div class="grid_6">
		<div class="wrapper">
			<br>
			<div class="image-profile-title">
				<%= image_tag(@user.profile_image, class: "user-portrait") %>
			</div>
			<div class="profile-title">
				<h1 class="profile"><%= @user.nick %></h1>
				<h2><%= @user.first_name %> &nbsp <%= @user.last_name %></h2>
			</div>
			<div class="edit-profile">
				<%= button_to "Editar", edit_user_path(@user),
				:method => "get", class: "small-button red-button edit-profile-button"  if @user == @session_user%>
			</div>
			<div class="clear"></div>
			<div class="wrapper fix-top-border profile-content">
				<div class="profile-bio">
					<h3>Sobre mim</h3>
					<p><%= @user.about %></p>
				</div>
				<br>
				<div class="profile-statistics-push">
					<p>Local: <%= @user.local %></p>
					<p>Email: <span class="bio-link"><%= mail_to @user.email, nil, encode: "javascript" %></span></p>
					<p>Website: <span class="bio-link"><%= @user.website %></span></p>
					<p>Facebook: <span class="bio-link"><%= @user.facebook %></span></p>
					<p>Twitter: <span class="bio-link"><%= @user.twitter %></span></p>
				</div>
				<div class="profile-statistics">
					<p>
						<%= image_tag("up-icon.png", :alt => "Likes") %>
						<span class="small"><%= t('views.users.likes', :count => @user.following.size) %></span>
					</p>
					<p>
						<%= image_tag("comment-icon.png", :alt => "Comment") %>
						<span class="small"> <%= t('views.users.comments', :count => @user.idea_comments.size + @user.comment_sends.size) %></span>
					</p>
					<p>
						<%= image_tag("forum-icon.png", :alt => "forum") %>
						<span class="small"><%= t('views.users.posts', :count => @user.posts.size + @user.post_comments.size) %></span>
					</p>
				</div>
			</div>
		</div>
		<br>
		<div class="container_12">
			<div class="grid_6 alpha wrapper">
				<div>
					<div class="green-line thin-line"></div>
					<% if @user.ideas.size > 0 %>
					<h3>Ideias lançadas</h3>
					<% else %>
					<h3>Nenhuma ideia lançada :/</h3>
					<% end %>
				</div>
				<div class="clear"></div>
				<% @user.ideas.limit(2).each do |idea| %>
				<div class="grid_2 created-idea min-idea">
					<%= link_to image_tag(idea.image.url(:thumb), class: "idea-portrait-small"), idea_path(idea) %>
					<h2><%= link_to idea.name , idea %></h2>
					<p><%= idea.mini_description %></p>
				</div>
				<% end %>


				<div class="clear"></div>
				<div class="new-idea-profile">
					<%= link_to 'Nova ideia', new_idea_path, class: "green-button big-button" %>
				</div>
			</div>
		</div>



	</div>
	<div class="grid_6 omega wrapper profile-sidebar">
		<h2>Recados</h2>
		<div class="messages">
			<% @user.comment_receives.reverse.each do |comment| %>
			<div class="user-profile-messages">
				<div class="image-profile-title grid_1 comment-left">
					<%= image_tag(comment.comment_sender.profile_image, class: "user-portrait" ) %>
					<span><%= comment.comment_sender.nick %></span>
				</div>
				<div class="comment-body profile-comment">
					<p><%= comment.message.gsub(/\n/, '<br>').html_safe  %></p>
				</div>
				<div class="comment-bottom">
					<% if logged? %>
					<%= link_to image_tag("block.png"), user_comment_path(comment), data: { confirm: 'Tem certeza que deseja excluir este comentário?' }, :class => 'reset-link', :method=>:delete if comment.can_managed_by(@session_user)%>
					<% end %>
				</form>
				</div>
			</div>
			<br/>
		 <% end %>
		</div>
		<% if logged? %>
		<div class="profile-comment-form">
			<form action="/user_comments/" method="POST">
			<%= token_tag nil %>
			<input type="hidden" name="user_comment[comment_receiver_id]" value="<%= @user.id %>">
			<textarea name="user_comment[message]" class="idea-creation comment-form" placeholder="Envie seu comentário"></textarea>
			<br>
			<div class="comment-options">
				<button class="red-button small-button">enviar</button>
			</div>
			</form>
		</div>
		<% end %>
		<div class="wrapper fix-top-border activities">
			<h3>Atividades recentes</h3>
			<% if !@user.comment_sends.last.blank? && profile_comment = @user.comment_sends.last.comment_receiver %>
				<p><%= @user.nick %> comentou no perfil de <%= link_to profile_comment.nick, profile_comment  %></a></p>
				<span class="activities-data"><%= profile_comment.created_at %></span>
				<br>
			<% end %>
			<% if !@user.idea_comments.last.blank? && idea_comment = @user.idea_comments.last.idea  %>
				<p><%= @user.nick %> comentou na ideia <%= link_to idea_comment.name, idea_comment  %></a></p>
				<span class="activities-data"><%= idea_comment.created_at %></span>
				<br>
			<% end %>
		</div>
	</div>
</div>

<br>
<div class="container_12">
	<div class="grid_12 wrapper">
		<div class="green-line thin-line"></div>
		<% if @user.following.size > 0 %>
		<h3>Ideias que <%= @user.nick %> acompanha:</h3>
		<% else %>
		<h3> <%= @user.nick %> ainda não gostou de nenhuma ideia :(</h3>
		<% end %>

		<% @user.following.limit(5).each do |idea| %>
		<div class="grid_3 min-idea min-idea-user">
			<%= link_to image_tag(idea.image.url(:thumb), class: "idea-portrait-small"), idea_path(idea) %>
			<h2><%= link_to idea.name, idea %></h2>
			<p><%= idea.mini_description %></p>
		</div>
		<% end %>

		<div class="clear"></div>
		<div class="red-line thin-line"></div>
