<div class="container_12">
  <div class="grid_4 push_4">
    <div class="big-login main-login wrapper">
      <div class="forgot-password-form">
        <h2>Redefinição de senha</h2>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>

            <%= f.label :password, "Nova senha" %>
            <%= f.password_field :password, autofocus: true, autocomplete: "off" %>

            <%= f.label :password_confirmation, "Confirme nova senha" %>
            <%= f.password_field :password_confirmation, autocomplete: "off" %>

          <%= f.submit "Redefinir minha senha", :class => 'small-button green-button' %>
        <% end %>

        </div>
      </div>
    </div>
</div>
