<header class="pure-menu-horizontal pure-menu-fixed">
  <nav class="pure-menu pure-menu-open pure-menu-horizontal">

    <%= link_to image_tag("logo.png"), root_path %>

    <ul class="top-left">
      
      <% if current_page?(root_url) %>

        <li><a href="#conheca">Conheça</a></li>
        <li><%= link_to "Explore", "/ideas/", method: "get" %></li>
        <li><a href="#participe">Participe</a></li>

      <% else %>
        <li><%= link_to "Explorar", "/ideas/", method: "get" %></li>
        <li><a href="http://github.com/yuph/yuph" target="_new">Participar</a></li>        
        <li><%= link_to "Inserir Ideia", new_idea_path, class: "pure-button"  %></li>
      <% end %>

    </ul>

    <ul class="top-right">
      <% if current_user %>
        <li> <%= t('.hello') %> </li>
        <li> <%= link_to current_user.nick, user_path(current_user) %> </li>
        <li> <%= link_to t('.logout'), destroy_user_session_path, :method => :delete %> </li>
      <% else %>
        <li><%= link_to t('.register'), new_user_registration_path, class: "pure-button"  %></li>
        <li><%= link_to t('.login') , new_user_session_path %></li>
      <% end %>
    </ul>
  </nav>
</header>