<nav id="nav" class="pure-u">
    
    <a href="#" class="nav-menu-button">YUPH</a>
    
    <%= link_to image_tag("logo.png"), root_path %>

    <div class="nav-inner">
        <%= link_to 'nova ideia', new_idea_path, class: "pure-button button_new_idea"  %>

        <hr class="hr-gradient">

        <div class="pure-menu pure-menu-open">
            <ul>
            <% if current_user %>
                <li> <%= link_to "Meu Perfil", user_path(current_user) %> </li>
                <li><%= link_to "Notificações", notifications_path %></a></li>
            <% end %>
                
                <li class="pure-menu-heading">Ideias</li>
                <li><%= link_to "Explorar Todas", "/ideas/", method: "get" %></li>
                <% if current_user %>
                    <!--
                        #TODO

                        Ainda não possuimos um contexto no backend que nos permita direcionar para uma url que mostre as mensagens criadas, e as favoritadas.

                        <li><a href="#">Criadas</a></li>
                        <li><a href="#">Favoritadas</a></li>

                    -->
                <% end %>

                <!-- 
                <li class="pure-menu-heading">Forum</li>
                <li><a href="#"><span class="email-label-travel"></span>Brainstorm</a></li>
                <li><a href="#"><span class="email-label-personal"></span>Geral</a></li>
                <li><a href="#"><span class="email-label-personal"></span>Off-Topic</a></li>
                <li>< a href="#"><span class="email-label-work"></span>Sugestões</a></li>
                -->
            </ul>
        </div>
    </div>
</nav>