<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <% if idea_path(@idea)  =~ /\d/ %>
    <title>Yuph - <%= @title %></title>
    <meta property="og:title" content="Yuph - <%= @idea.name %>" />
    <meta property="og:type" content="profile" />
    <meta property="og:image" content="<%= @idea.image.url %>" />
    <meta property="og:url" content="http://<%= request.host +  idea_path(@idea) %>" />
    <meta property="og:description" content="<%= @idea.mini_description %>" />
  <% else %>
    <title>Yuph</title>
  <% end %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  <!--[if lt IE 9]>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
  <![endif]-->
  <%= csrf_meta_tags %>

  <%= analytics_init :local => Rails.env.development? %>

  <meta name="description" content="A Yuph é uma plataforma para brainstorm e organização de projetos. É um lugar para você compartilhar ideias. Inicie discussões, receba feedback e deixe a comunidade fazer a parte dela." />
  <meta name="keywords" content="ideias, projetos, brainstorm, forum, discussão, comentarios, inovação, feedback, criatividade, iniciativas, grupos, pessoas" xml:lang="pt-BR" lang="pt-BR">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

</head>
<body class="demo1">

<div class="clear"></div>
  <div class="content">
      <%= flash_messages() %>
    <%= yield %>
  </div>
</body>
</html>
